AGENT_APP_NAME=HLT Nmap Agent
AGENT_HOST=0.0.0.0
AGENT_PORT=8081
AGENT_PUBLIC_HOST=kali-nmap-agent
AGENT_PUBLIC_IP=
AGENT_CODE=AG-NMAP-01
AGENT_ID=
AGENT_VERSION=0.2.0
BACKEND_BASE_URL=http://127.0.0.1:8000
BACKEND_TIMEOUT_SECONDS=20
NMAP_AGENT_MODE=mock
NMAP_BIN=nmap
PKT_SCANNER_SCRIPT_PATH=task_scripts/nmap/pkt_scannerv1.py
PKT_SCANNER_OUTPUT_ROOT=agent_runs/nmap
